<!-- <ul>
  @for(e of elements(); track e.id){
  <li>{{ e | json }} <button (click)="onDetails(e.id)">🔎</button></li>
  }
</ul> -->

<table>
  <thead>
    <tr>
      <!-- Diplay the header of the table -->
      @for(col of columns(); track $index){
      <th>{{ col }}</th>
      }
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <!-- Display all the rows -->
    @for(e of elements(); track e.id){
    <tr>
      <!-- Display the value of each cell -->
      @for(col of columns(); track $index){
      <td>
        <!-- {{e.name}} -->
        {{ e[col] }}
      </td>
      }
      <td>
        <button (click)="onDetails(e.id)">🔎</button>
      </td>
    </tr>
    }
  </tbody>
</table>
